@mixin break-point($breakpoint){
    $bp-xs:"(max-width:420px)";
    $bp-sm:"(min-width:420px)";
    $bp-md:"(mix-width:768px)";
    $bp-lg:"(mix-width:1024px)";
    $bp-xl:"(mix-width:1280px)";
    $bp-xxl:"(mix-width:1900px)";

    @if($breakpoint==xs){
        @media #{$bp-xs}{@content;}
    }  @else if($breakpoint == sm){
        @media #{$bp-sm}{@content;}
    }  @else if($breakpoint == md){
        @media #{$bp-md}{@content;}
    }  @else if($breakpoint==lg){
        @media #{$bp-lg}{@content;}
    }  @else if($breakpoint==xl){
        @media #{$bp-xl}{@content;}
    }  @else if($breakpoint==xxl){
        @media #{$bp-xxl}{@content;}
    }  

}